# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL="sqlserver://(localdb)\MSSQLLocalDB:1433;user=sa;password=qwer1234;database=prisma;schema=prisma;trustServerCertificate=true;"
DATABASE_URL="postgresql://postgres:qwer1234@localhost:5432/mydb?schema=sample"
DATABASE_URL="mysql://root:qwer1234@localhost:3306/prisma"
DATABASE_URL="file:./db.sqlite"

# https://generate-secret.vercel.app/32
# https://generate-secret.vercel.app/64
# sidebase/auth
AUTH_ORIGIN="http://localhost:3000"
